# Ignore Everything
*

# Except for the following files
!*.gitignore
!docker-compose.yml
!Dockerfile
!tags-info.yaml
!readme.md

# And the following directories
!nginx/
!nginx/**/*

!prebuildfs/
!prebuildfs/**/*

!rootfs/
!rootfs/**/*